tests/resources/schematron/METS-one-default-ns.xml

<schema xmlns="http://purl.oclc.org/dsdl/schematron" >
  <ns prefix="mets" uri="http://www.loc.gov/METS/" />
  <ns prefix="csip" uri="https://DILCIS.eu/XML/METS/CSIPExtensionMETS"/>

  <pattern id="METS_root_element_validation_1">
      <rule context="/" id="CSIP0;ERROR" >
          <assert test="mets:mets">The root level element is required in all METS documents</assert>
      </rule>
  </pattern>

  <pattern id="METS_root_element_validation_2">
      <rule context="/mets:mets" id="CSIP1;ERROR" >
        <assert test="@OBJID">The mets/@OBJID attribute is mandatory, its value is a string identifier for the METS document. For the package METS document, this should be the name/ID of the package, i.e. the name of the package root folder. For a representation level METS document this value records the name/ID of the representation, i.e. the name of the top-level representation folder.</assert>
      </rule>
  </pattern>
  <pattern id="METS_root_element_validation_3">
      <rule context="/mets:mets" id="CSIP2;ERROR" >
        <assert test="@TYPE">The mets/@TYPE attibute MUST be used to declare the category of the content held in the package, e.g. book, journal, stereograph, video, etc.. Legal values are defined in a fixed vocabulary.</assert>
      </rule>
  </pattern>
  <pattern id="METS_root_element_validation_4">
      <rule context="/mets:mets" id="CSIP3;ERROR" >
        <assert test="(@TYPE = 'OTHER' and @csip:OTHERTYPE) or @TYPE != 'OTHER'">When the content category used falls outside of the defined vocabulary the mets/@TYPE value must be set to “OTHER” and the specific value declared in mets/@csip:OTHERTYPE. The vocabulary will develop under the curation of the DILCIS Board as additional content information type specifications are produced.</assert>
      </rule>
  </pattern>
  <pattern id="METS_root_element_validation_5">
      <rule context="/mets:mets" id="CSIP4;ERROR" >
        <assert test="@csip:CONTENTINFORMATIONTYPE">Used to declare the Content Information Type Specification used when creating the package. Legal values are defined in a fixed vocabulary. The attribute is mandatory for representation level METS documents.</assert>
      </rule>
  </pattern>
  <pattern id="METS_root_element_validation_6">
      <rule context="/mets:mets" id="CSIP5;ERROR" >
        <assert test="(@csip:CONTENTINFORMATIONTYPE = 'OTHER' and @csip:OTHERCONTENTINFORMATIONTYPE) or @csip:CONTENTINFORMATIONTYPE != 'OTHER'">When the mets/@csip:CONTENTINFORMATIONTYPE has the value “OTHER” the mets/@csip:OTHERCONTENTINFORMATIONTYPE must state the content information type.</assert>
      </rule>
  </pattern>
  <pattern id="METS_root_element_validation_7">
      <rule context="/mets:mets" id="CSIP6;ERROR" >
        <assert test="@PROFILE">The PROFILE attribute MUST contain the URL of the METS profile that the information package conforms with.</assert>
      </rule>
  </pattern>
</schema>
