eark_validator/ipxml/resources/schematron/V2.0.4/CSIP/mets_fileSec_rules.xml

<schema xmlns="http://purl.oclc.org/dsdl/schematron" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" queryBinding="xslt2">
  <ns prefix="mets" uri="http://www.loc.gov/METS/" />
  <ns prefix="csip" uri="https://DILCIS.eu/XML/METS/CSIPExtensionMETS"/>
  <ns prefix="xlink" uri="http://www.w3.org/1999/xlink" />

  <pattern id="METS_file_element_1">
    <rule context="/mets:mets/mets:fileSec" id="CSIP59;ERROR" >
      <assert test="@ID">An xml:id identifier for the file section used for internal package references.</assert>
    </rule>
  </pattern>
  <pattern id="METS_file_element_2">
    <rule context="/mets:mets/mets:fileSec" id="CSIP60;ERROR" >
      <assert test="mets:fileGrp[@USE = 'Documentation']">All documentation pertaining to the transferred content is placed in one or more file group elements with mets/fileSec/fileGrp/@USE attribute value “Documentation”.</assert>
    </rule>
  </pattern>
  <pattern id="METS_file_element_3">
    <rule context="/mets:mets/mets:fileSec" id="CSIP113;ERROR" >
      <assert test="mets:fileGrp[@USE = 'Schemas']">All XML schemas used in the information package should be referenced from one or more file groups with mets/fileSec/fileGrp/@USE attribute value “Schemas”.</assert>
    </rule>
  </pattern>
  <pattern id="METS_file_element_4">
    <rule context="/mets:mets/mets:fileSec" id="CSIP114;ERROR" >
      <assert test="mets:fileGrp[@USE = 'Representations']">A pointer to the METS document describing the representation or pointers to the content being transferred must be present in one or more file groups with mets/fileSec/fileGrp/@USE attribute value “Representations”.</assert>
    </rule>
  </pattern>

  <pattern id="METS_file_element_5">
    <rule context="/mets:mets/mets:fileSec/mets:fileGrp" id="CSIP61;ERROR" >
      <assert test="every $admid_part in tokenize(@ADMID, '\s+') satisfies some $id in /mets:mets/mets:amdSec/*/@ID satisfies $admid_part = $id">ADMID must contains real administrative metadata section ID.</assert>
    </rule>
  </pattern>
  <pattern id="METS_file_element_6">
    <rule context="/mets:mets/mets:fileSec/mets:fileGrp" id="CSIP62;ERROR" >
      <assert test="(@USE = 'Representations' and @csip:CONTENTINFORMATIONTYPE) or @USE != 'Representations'">This attribute is mandatory when the mets/fileSec/fileGrp/@USE attribute value is “Representations”.</assert>
    </rule>
  </pattern>
  <pattern id="METS_file_element_7">
    <rule context="/mets:mets/mets:fileSec/mets:fileGrp" id="CSIP63;ERROR" >
      <assert test="(@csip:CONTENTINFORMATIONTYPE = 'OTHER' and @csip:OTHERCONTENTINFORMATIONTYPE) or @csip:CONTENTINFORMATIONTYPE != 'OTHER' or not(@csip:CONTENTINFORMATIONTYPE)">This attribute is mandatory when the mets/fileSec/fileGrp/@USE attribute value is “Representations”.</assert>
    </rule>
  </pattern>
  <pattern id="METS_file_element_8">
    <rule context="/mets:mets/mets:fileSec/mets:fileGrp" id="CSIP64;ERROR" >
      <assert test="@USE">This attribute is mandatory.</assert>
    </rule>
  </pattern>
  <pattern id="METS_file_element_9">
    <rule context="/mets:mets/mets:fileSec/mets:fileGrp" id="CSIP65;ERROR" >
      <assert test="@ID">This attribute is mandatory. An xml:id identifier for the file group used for internal package references. It must be unique within the package.</assert>
    </rule>
  </pattern>
  <pattern id="METS_file_element_10">
    <rule context="/mets:mets/mets:fileSec/mets:fileGrp" id="CSIP66;ERROR" >
      <assert test="mets:file">The file group contains the file elements which describe the file objects.</assert>
    </rule>
  </pattern>

  <pattern id="METS_file_element_11">
    <rule context="/mets:mets/mets:fileSec/mets:fileGrp/mets:file" id="CSIP67;ERROR" >
      <assert test="@ID">This attribute is mandatory. An xml:id identifier for the file group used for internal package references. It must be unique within the package.</assert>
    </rule>
  </pattern>
  <pattern id="METS_file_element_12">
    <rule context="/mets:mets/mets:fileSec/mets:fileGrp/mets:file" id="CSIP68;ERROR" >
      <assert test="@MIMETYPE">MUST record the MIME type of the referenced file.</assert>
    </rule>
  </pattern>
  <pattern id="METS_file_element_13">
    <rule context="/mets:mets/mets:fileSec/mets:fileGrp/mets:file" id="CSIP69;ERROR" >
      <assert test="@SIZE">MUST record the size in bytes of the referenced file.</assert>
    </rule>
  </pattern>
  <pattern id="METS_file_element_14">
    <rule context="/mets:mets/mets:fileSec/mets:fileGrp/mets:file" id="CSIP70;ERROR" >
      <assert test="@CREATED">MUST record the date the referenced file was created.</assert>
    </rule>
  </pattern>
  <pattern id="METS_file_element_15">
    <rule context="/mets:mets/mets:fileSec/mets:fileGrp/mets:file" id="CSIP71;ERROR" >
      <assert test="@CHECKSUM">MUST record the checksum of the referenced file.</assert>
    </rule>
  </pattern>
  <pattern id="METS_file_element_16">
    <rule context="/mets:mets/mets:fileSec/mets:fileGrp/mets:file" id="CSIP72;ERROR" >
      <assert test="@CHECKSUMTYPE">MUST record the checksum type of the referenced file.</assert>
    </rule>
  </pattern>
  <pattern id="METS_file_element_17">
    <rule context="/mets:mets/mets:fileSec/mets:fileGrp/mets:file" id="CSIP73;INFO" >
      <report test="@OWNERID">A file element has an OWNERID attribute.</report>
    </rule>
  </pattern>
  <pattern id="METS_file_element_18">
    <rule context="/mets:mets/mets:fileSec/mets:fileGrp/mets:file" id="CSIP74;ERROR" >
      <assert test="every $admid_part in tokenize(@ADMID, '\s+') satisfies some $id in /mets:mets/mets:amdSec/*/@ID satisfies $admid_part = $id">ADMID must contains real administrative metadata section ID.</assert>
    </rule>
  </pattern>
  <pattern id="METS_file_element_19">
    <rule context="/mets:mets/mets:fileSec/mets:fileGrp/mets:file" id="CSIP75;INFO" >
      <report test="@DMDID">A file element has an DMDID attribute.</report>
    </rule>
  </pattern>
  <pattern id="METS_file_element_20">
    <rule context="/mets:mets/mets:fileSec/mets:fileGrp/mets:file" id="CSIP76;ERROR" >
      <assert test="mets:FLocat">The location of each external file must be defined by the file location FLocat element.</assert>
    </rule>
  </pattern>

  <pattern id="METS_file_element_21">
    <rule context="/mets:mets/mets:fileSec/mets:fileGrp/mets:file/mets:FLocat" id="CSIP77;ERROR" >
      <assert test="@LOCTYPE = 'URL'">Mandatory, locator type is always used with the value “URL” from the vocabulary in the attribute.</assert>
    </rule>
  </pattern>
  <pattern id="METS_file_element_22">
    <rule context="/mets:mets/mets:fileSec/mets:fileGrp/mets:file/mets:FLocat" id="CSIP78;ERROR" >
      <assert test="@xlink:type = 'simple'">Attribute MUST be used with the value “simple”. Value list is maintained by the xlink standard.</assert>
    </rule>
  </pattern>
  <pattern id="METS_file_element_23">
    <rule context="/mets:mets/mets:fileSec/mets:fileGrp/mets:file/mets:FLocat" id="CSIP79;ERROR" >
      <assert test="@xlink:href">MUST record the actual location of the resource. This specification recommends recording a URL type filepath within this attribute.</assert>
    </rule>
  </pattern>
</schema>
