eark_validator/ipxml/resources/schematron/V2.1.0/SIP/mets_metsRootElement_rules.xml

<schema xmlns="http://purl.oclc.org/dsdl/schematron" >
  <ns prefix="mets" uri="http://www.loc.gov/METS/" />
  <ns prefix="csip" uri="https://DILCIS.eu/XML/METS/CSIPExtensionMETS"/>
  <ns prefix="sip" uri="https://DILCIS.eu/XML/METS/SIPExtensionMETS"/>

  <pattern id="METS_root_element_1">
      <rule context="/mets:mets" id="SIP1;INFO" >
        <report test="@LABEL">Optional LABEL attribute used as short text package name.</report>
      </rule>
  </pattern>
  <pattern id="METS_root_element_2">
      <rule context="/mets:mets" id="SIP2;ERROR" >
        <assert test="@PROFILE = 'https://earksip.dilcis.eu/profile/E-ARK-SIP.xml' ">The PROFILE attribute MUST contain the URL of the METS profile, for a SIP: https://earksip.dilcis.eu/profile/E-ARK-SIP.xml.</assert>
      </rule>
  </pattern>
</schema>
