eark_validator/ipxml/resources/schematron/V2.1.0/DIP/mets_metsHdr_rules.xml

<schema xmlns="http://purl.oclc.org/dsdl/schematron">
  <ns prefix="mets" uri="http://www.loc.gov/METS/" />
  <ns prefix="csip" uri="https://DILCIS.eu/XML/METS/CSIPExtensionMETS"/>

  <pattern id="METS_header_element_1">
    <rule context="/mets:mets/mets:metsHdr" id="DIP3;ERROR" >
      <assert test="@csip:OAISPACKAGETYPE = 'DIP'">The in CSIP added attribute `@csip:OAISPACKAGETYPE` is used with the value "DIP".</assert>
    </rule>
  </pattern>
</schema>
