eark_validator/ipxml/resources/schematron/V2.1.0/DIP/mets_dmdSec_rules.xml

<schema xmlns="http://purl.oclc.org/dsdl/schematron">
  <ns prefix="mets" uri="http://www.loc.gov/METS/" />
  <ns prefix="csip" uri="https://DILCIS.eu/XML/METS/CSIPExtensionMETS"/>
  <ns prefix="xlink" uri="http://www.w3.org/1999/xlink" />

  <pattern id="METS_descriptive_metadata_element_1">
    <rule context="/mets:mets/mets:dmdSec" id="DIP4;WARN" >
      <assert test="@STATUS = 'CURRENT'">Indicates the status of the package using a fixed vocabulary. The status SHOULD in a DIP be set to "CURRENT".</assert>
    </rule>
  </pattern>
</schema>
